.main{
  background: rgb(49,69,113);/* fallback for old browsers */        
  background: -webkit-radial-gradient(50% 50% at 50% 50%, #5F6F7E 0%, rgba(23, 34, 61, 0.93) 100%);/* Chrome 10-25, Safari 5.1-6 */         
  background: radial-gradient(50% 50% at 50% 50%, #5F6F7E 0%, rgba(23, 34, 61, 0.93) 100%);
  min-height: 100vh;
  width: 100vw;
  color: #fff;
}
.error__msg{
  color: #fff;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(-50% -50%);
  -webkit-transform: translate(-50% -50%);
  -moz-transform: translate(-50% -50%);
  -ms-transform: translate(-50% -50%);
  -o-transform: translate(-50% -50%);
  z-index: 200;
}